.calendar-modal {
  max-width: 1442px !important;
  width: auto !important;
}

.calendar-modal .modal-body {
  padding: 73px 99px !important;
}

.calendar-modal .modal-body::-webkit-scrollbar {
  width: 20px;
}

.form-index {
  margin: 22px 0;
  width: 93px;
  padding: 1px 26px;
  background: #dd7c19 0% 0% no-repeat padding-box;
  box-shadow: 0 1px 2px #00000029;
  border: 1px solid #c7721b;
  border-radius: 4px;
  font: normal normal bold 13px/16px Helvetica Neue;
  letter-spacing: 0px;
  color: #ffffffff;
  text-align: center;
}

.form-product-name {
  margin: 22px 0;
  font: normal normal bold 15px/18px Helvetica Neue;
  letter-spacing: 0;
  color: #020202;
}

.product-form .form-wrapper {
  background: #ffffff 0% 0% no-repeat padding-box;
  background: var(#ffffff) 0% 0% no-repeat padding-box;
  border: 1px solid #dddddd;
  border-radius: 4px;
  box-shadow: 0px 1px 2px #00000029;
}

.product-form .form-header {
  background: #f7f7f7 0% 0% no-repeat padding-box;
  background: var(#f7f7f7) 0% 0% no-repeat padding-box;
  border-bottom: 1px solid #dddddd;
  padding: 10px 17px;
}

.product-form .form-title {
  text-align: left;
  font: normal normal bold 15px/18px Helvetica Neue;
  letter-spacing: 0;
  color: #020202;
}

.product-form .form-content {
  padding: 28px 66px;
}

.product-form label {
  font: normal normal bold 15px/18px Helvetica Neue;
  letter-spacing: 0px;
  color: #020202;
}

.product-form input,
.product-form .form-control {
  float: right;
  width: 377px;
  height: 39px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #c6c6c6;
  font: normal normal bold 15px/18px Helvetica Neue;
  letter-spacing: 0;
  color: #8d8d8d;
  padding: 9px 15px;
}

.product-form .group-input {
  line-height: 39px;
}

.product-form .item-action {
  text-align: center;
}

.product-form .form-action {
  margin-top: 22px;
  text-align: center;
}

.modal button {
  padding: 9px 50px;
  margin-right: 22px;
  border-radius: 4px !important;
  box-shadow: 0 1px 2px #00000029;
  font: normal normal bold 15px/18px Helvetica Neue;
  letter-spacing: 0;
}

.btn-reserve {
  background-color: #92d050 !important;
  border: 1px solid #48b2d3 !important;
  color: #ffffff !important;
}

.btn-new-booking,
.btn-export {
  background-color: #337ab7 !important;
  border: 1px solid #1667ac !important;
  color: #ffffff !important;
}

.btn-new-booking {
  height: 39px;
  width: 80px;
  box-shadow: 0px 1px 2px #00000029;
}

.btn-form {
  background-color: #dddddd !important;
  border: 1px solid #c6c6c6 !important;
  color: #333333 !important;
}

.btn:disabled {
  background-color: #bababa !important;
  border: 1px solid #a8a8a8 !important;
  color: #ffffff !important;
}

.multiple-form input {
  width: 188px;
}

.multiple-form .form-content {
  padding: 28px 22px;
}

.first-row {
  margin-bottom: 1rem;
}
