body {
  font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  padding: 50px 20px;
}

.calendar-container {
  padding: 15px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.btn-group {
  position: relative;
  display: inline-flex;
  height: 39px;
}

.hd-btn {
  color: #73889c;
  background-color: #f7f7f7;
  border: 1px solid #dddddd;
  border-radius: 4px;
  width: 40px;
  box-shadow: 0px 1px 2px #00000029;
  margin: 0 !important;
}

.hd-prev-btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.hd-next-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.hd-desc {
  display: flex;
}

.hd-desc .desc-content {
  display: flex;
  margin: 0 50px;
}

.hd-desc .desc-content span {
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
  letter-spacing: 0;
  color: #020202;
  font: normal normal bold 15px/18px Helvetica Neue;
}

.hd-desc .desc-content div {
  width: 81px;
  height: 13px;
  align-self: center;
  margin-left: 50px;
}

.hd-desc .desc-content:nth-child(1) div {
  background: #92d050;
}

.hd-desc .desc-content:nth-child(2) div {
  background: #337ab7;
}

.hd-desc .desc-content:nth-child(3) div {
  background: #cc2929;
}

.hd-date {
  color: #73889c;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
}

.calendar-body {
  position: relative;
  margin: auto;
  overflow: hidden;
}

.calendar-inner {
  width: 100%;
  height: 350px;
  overflow-x: scroll;
}

.calendar-table {
  width: 100%;
  margin: auto;
  border-collapse: separate;
  border-spacing: 0;
}

.calendar-table td,
.calendar-table th {
  border: 1px solid #ccc;
  white-space: nowrap;
  vertical-align: middle;
  height: 39px;
}

.calendar-table tr:nth-child(odd) {
  background: #ffffff 0% 0% no-repeat padding-box;
  background: var(#ffffff) 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
}

.calendar-table tr:nth-child(even) {
  background: #f7f7f7 0% 0% no-repeat padding-box;
  background: var(#f7f7f7) 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
}

.calendar-table .product-cont {
  font-weight: normal;
  padding: 0 12px;
}

.calendar-table thead th {
  color: #73889c;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0;
  background: #f0f0f0 0% 0% no-repeat padding-box;
  text-align: center;
}

.calendar-table .first-col {
  min-width: 100px;
}

.calendar-table .second-col,
.calendar-table .third-col {
  min-width: 200px;
}

.calendar-table tbody th {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0;
  color: #333333;
  position: sticky;
}

.calendar-table tbody .first-col {
  left: 0;
}

.calendar-table tbody tr:nth-child(odd) th {
  background: #ffffff 0% 0% no-repeat padding-box;
}

.calendar-table tbody tr:nth-child(even) th {
  background: #f7f7f7 0% 0% no-repeat padding-box;
}

.calendar-table .weekend {
  background-color: #f5f9fa;
}

.calendar-table .thead-week {
  position: sticky;
  top: 0;
}

.calendar-table .thead-date {
  position: sticky;
  top: 39px;
  min-width: 50px;
}

.clone {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.clone .product-header {
  visibility: visible;
}

.clone th,
.clone td {
  visibility: hidden;
}

.calendar-table .custom-checkbox {
  position: relative;
  padding-left: 20px;
  margin-bottom: 0;
  line-height: 16px !important;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.calendar-table .custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.calendar-table .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #ffffff;
  border: 1px solid #707070;
}

.calendar-table .custom-checkbox input:checked ~ .checkmark {
  background: #1abb9c 0% 0% no-repeat padding-box;
}

.calendar-table .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.calendar-table .custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.calendar-table .custom-checkbox .checkmark:after {
  left: 4px;
  top: 2px;
  width: 6px;
  height: 7px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.calendar-table .badge {
  width: 100%;
  height: 13px;
  display: inline-block !important;
  border-radius: 0 !important;
  cursor: pointer;
}

.calendar-table .badge-reserve {
  background: #92d050 0% 0% no-repeat padding-box;
}

.calendar-table .badge-export {
  background: #337ab7 0% 0% no-repeat padding-box;
}

.calendar-table .badge-repair {
  background: #cc2929 0% 0% no-repeat padding-box;
}

.pagination {
  line-height: 1.6;
  font-size: 14px;
  justify-content: flex-end;
}

.pagination .pagination-page {
  float: left;
}

.pagination .pagination-page ul {
  float: left;
  margin: 0;
  padding: 0;
}

.pagination .pagination-page ul li {
  float: left;
  border: 1px solid #aaa;
  border-right: none;
  list-style: none;
}

.pagination .pagination-page ul li:first-child {
  border-radius: 3px 0 0 3px;
}

.pagination .pagination-page ul li:first-child a {
  border-radius: 3px 0 0 3px;
}

.pagination .pagination-page ul li:last-child {
  border-right: 1px solid #aaa;
  border-radius: 0 3px 3px 0;
}

.pagination .pagination-page ul li:last-child a {
  border-radius: 0 3px 3px 0;
}

.pagination .pagination-page ul li a {
  min-width: 30px;
  height: 28px;
  line-height: 28px;
  display: block;
  background: #fff;
  font-size: 14px;
  color: #333;
  text-decoration: none;
  text-align: center;
}

.pagination .pagination-page ul li.active {
  border: none;
}

.pagination .pagination-page ul li.active a {
  height: 30px;
  line-height: 30px;
  background: #aaa;
  color: #fff;
}

.pagination .pagination-page ul li.disabled a {
  opacity: 0.3;
}
